.row
  .columns.large-12
    %h3 Welcome

    %ul
      %li
        %a{"href"=>"/services"} Services
      %li
        %a{"href"=>"/organizations"} Organizations
      %li
        %a{"href"=>"/container_types"} Container types
      %li
        %a{"href"=>"/material_streams"} Material streams
