.row
  .columns.large-12
    %h3 Welcome

    %ul
      %li
        %h3
          %a{"href"=>"/services"} Services
      %li
        %h3
          %a{"href"=>"/organizations"} Organizations
      %li
        %h3
          %a{"href"=>"/round_plans"} Round plans
      %li
        %h3
          %a{"href"=>"/rounds"} Rounds
      %li
        %h3
          %a{"href"=>"/container_types"} Container types
      %li
        %h3
          %a{"href"=>"/containers"} Containers
      %li
        %h3
          %a{"href"=>"/material_streams"} Material streams
      %li
        %h3
          %a{"href"=>"/events"} Events
